section {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background: #ffffff;
  text-align: center;
}
section:nth-child(2n) {
  background: #f4f4f4;
}
.title {
  font-size: 19px;
  color: #000000;
  margin-bottom: 20px;
}
.inspiration {
  font-style: italic;
  margin-top: 10px;
}
.inspiration a {
  color: #a4a4a4;
}
.inspiration a:hover {
  color: #00A29A;
}
.block {
  width: 1000px;
  max-width: 90%;
  height: 0%;
  padding-bottom: 56.6%;
  cursor: pointer;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1000px) {
  .block {
    padding-bottom: 560px;
  }
}
.block-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
.block-text {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: table;
  position: absolute;
  bottom: 0;
}

/***/
/*** 1 ***/

.block-1 .block-image {
  background-image: url('../images/block1.jpeg');
  transition: transform 500ms;
}
.block-1 .block-text {
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,162,164,0.8) 100%);
  transition: opacity 300ms;
}
.block-1 .block-text span {
  opacity: 0;
  vertical-align: middle;
  color: white;
  padding-left: 40px;
  display: table-cell;
  font-size: 25px;
  transform: translate(0, 10px);
  transition: opacity 200ms, transform 300ms;
}
.block-1:hover .block-image {
  transform: scale(.95);
  transition: transform 500ms;
}
.block-1:hover .block-text {
  opacity: 1;
  transition: opacity 1000ms;
}
.block-1:hover .block-text span {
  opacity: 1;
  transition: opacity 300ms, transform 500ms;
  transform: translate(0, 0);
  transition-delay: 100ms;
}

/***/
/*** 2 ***/

.block-2 .block-image {
  background-image: url('../images/block2.jpeg');
  transition: background-image 300ms, background-color: 300ms;
}
.block-2 .block-text {
  padding-top: 23%;
  box-sizing: border-box;
  background: #00A29A;
  margin-left: -100%;
  opacity: 1;
  transition: margin-left 500ms;
}
.block-2:hover .block-text {
  margin-left: 0;
}
.block-2 .block-text span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: white;
  font-size: 50px;
  margin-left: -100%;
  transition: margin-left 800ms;
  transition-delay: -100ms;
}
.block-2 .block-text span:last-child {
  font-size: 22px;
  margin-left: -150%;
  font-family: 'Lato', sans-serif;
  color: #f4f4f4;
}

.block-2:hover .block-text span {
  margin-left: 25px;
}

/***/
/*** 3 ***/

.block-3 .block-image {
  background-image: url('../images/block3.jpeg');
}

.block-text {
  background: rgba(0, 162, 164, .7);
  transition: opacity 500ms;
}

.block-3:hover .block-text {
  opacity: 1;
}

.block-3 .block-text span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 100%;
  transition: top 1200ms;
}

.block-3:hover .block-text span {
  transition: top 900ms;
}

.block-3 .block-text span:first-child {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}
.block-3:hover .block-text span:first-child {
  top: 20%;
}

.block-3 .block-text span:nth-child(2) {
  color: #f4f4f4;
  font-size: 25px;
  transition-delay: 130ms;
}
.block-3:hover .block-text span:nth-child(2) {
  top: 27%;
}

.block-3 .block-text span:last-child {
  font-family: 'Lato', sans-serif;
  color: white;
  transition-delay: 250ms;
}
.block-3:hover .block-text span:last-child {
  top: 34%;
}

/***/
/*** 4 ***/

.block-4 .block-image {
  background-image: url('../images/block4.jpeg');
  transform: scale(1);
  transition: transform 500ms;
}

.block-4:hover .block-image {
  transform: scale(1.1);
}

.block-4 .block-text {
  width: 90%;
  height: 85%;
  left: 5%;
  top: 7.5%;
  border: 1px solid #00A29A;
  opacity: 1;
  background: transparent;
  display: table;
  text-align: center;
  color: white;
  font-size: 50px;
  transition: background 500ms, transform 500ms;
  transform: scale(1);
}

.block-4:hover .block-text {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
}

.block-4 .block-text span {
  vertical-align: middle;
  display: table-cell;
  transform: scale(1);
  transition: transform 300ms;
}

.block-4:hover .block-text span {
  transform: scale(1.5);
}
